# MongoDB Connection String Options:
# Option A (Local MongoDB): mongodb://127.0.0.1:27017/khmw_attendance
# Option B (MongoDB Atlas Cloud): mongodb+srv://<username>:<password>@cluster0.mongodb.net/khmw_attendance?retryWrites=true&w=majority
MONGODB_URI=

JWT_SECRET=
NEXT_PUBLIC_APP_URL=http://localhost:3000

# Default Seed Admin Credentials (Auto created on first app boot if not present)
DEFAULT_ADMIN_EMAIL=
DEFAULT_ADMIN_PASSWORD=
DEFAULT_ADMIN_NAME=
